/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #f4f6fb;
}

/* HEADER */
.header {
    background: linear-gradient(90deg, #001f3f, #00509e);
    padding: 12px 30px;
}

.left-header {
    display: flex;
    align-items: center;
}

.logo {
    width: 55px;   /* small clean logo */
    height: auto;
    margin-right: 12px;
}

.school-name {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.tagline {
    color: #ffd700;
    font-size: 13px;
    margin-left: 67px;
    margin-top: 3px;
}

/* NAVIGATION */
nav {
    background: #003366;
    padding: 12px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 18px;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: #ffd700;
}

/* BANNER */
.banner {
    background: url('school1.jpg') no-repeat center;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 8px black;
}

/* SECTIONS */
section {
    padding: 60px 20px;
    text-align: center;
}

section h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #002244;
}

/* CARDS */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.card {
    background: white;
    padding: 25px;
    width: 220px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    font-weight: 600;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

/* FORM */
form input,
form textarea {
    width: 80%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 12px 25px;
    border-radius: 25px;
    border: none;
    background: #00509e;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #001f3f;
}

/* WHATSAPP BUTTON */
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    color: white;
    padding: 14px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

/* FOOTER */
footer {
    background: #001f3f;
    color: white;
    padding: 15px;
    text-align: center;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {

    .school-name {
        font-size: 14px;
    }

    .logo {
        width: 45px;
    }

    .tagline {
        margin-left: 57px;
        font-size: 11px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .banner {
        height: 250px;
        font-size: 20px;
        padding: 20px;
        text-align: center;
    }
}
